{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-var-requires": 0,
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    // "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
