<!DOCTYPE html>
<html>
  <head>
    <title>Home | MusicHub hosted by <%- server.owner %></title>
  </head>
  <body>
    <style>
      * {
        --musichub-heading-height: 47px;
        --musichub-aplayer-height: 66px;
      }
      thead td {
        text-align: center;
        font-weight: bolder;
      }
      tr > td:first-child {
        text-align: center;
      }
      /*
        This is a hook of APlayer, which results from the upstream.
        See issue https://github.com/DIYgod/APlayer/issues/741.
      */
      .aplayer.aplayer-fixed .aplayer-body {
        max-width: initial;
        width: calc(100% - 18px);
      }
      .aplayer.aplayer-fixed .aplayer-info .aplayer-music {
        max-width: initial;
        width: calc(100% - 105px);
      }
    </style>
    <h1 style="text-align: center; height: var(--musichub-heading-height); margin: 0 0 25px 0">MusicHub Homepage</h1>
    <div style="display: flex; align-content: center; justify-content: center">
      <div class="lobby" style="width: 80%; max-width: 80%">
        <h2 style="margin: 0 0 25px 0">Playlist</h2>
        <div style="overflow: auto; height: calc((100vh - var(--musichub-aplayer-height) - var(--musichub-heading-height)) * 0.8)">
          <table style="width: 100%" id="tblPlaylist">
            <thead>
              <td style="width: 1%">Num#</td>
              <td>Name</td>
              <td>Artist</td>
              <td>Album</td>
              <td style="width: 1%">Operations</td>
            </thead>
            <tbody id="tbodyPlaylist"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="aplayer"></div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aplayer-remake/dist/APlayer.min.js"></script>
    <script>
      var songsConfig = null;
      var elemTbodyPlaylist = document.getElementById('tbodyPlaylist');
      var ap = null;

      /**
       * Play a song by index.
       * @param {object} ap the APlayer object
       * @param {number} index the given index
       */
      function playSong(ap, index) {
        ap.pause();
        ap.list.switch(index);
        ap.play();
      }

      (async () => {
        try {
          songsConfig = await $.ajax({
            url: '/rest/get-config/songs',
            dataType: 'json'
          });
        } catch (e) {
          console.error('Failed to get config of songs:', e);
        }
        elemTbodyPlaylist.innerHTML = songsConfig
          .map(
            (v, idx) =>
              `<tr data-index="${idx}">${[
                idx + 1,
                v.name,
                v.artist,
                v.album,
                `<button onclick="playSong(ap, ${idx})">Play</button>`
              ]
                .map((a) => `<td>${a}</td>`)
                .join('')}</tr>`
          )
          .join('');
        ap = new APlayer({
          container: document.getElementById('aplayer'),
          fixed: true,
          autoplay: false,
          theme: '#FADFA3',
          preload: 'auto',
          volume: 0.7,
          mutex: true,
          audio: songsConfig
        });
      })();
    </script>
  </body>
</html>
