<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <title>Home | MusicHub hosted by <%- server.owner %></title>
  </head>
  <body>
    <h1 style="text-align: center">MusicHub Homepage</h1>
    <div id="aplayer"></div>
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script>
      const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        autoplay: false,
        theme: '#FADFA3',
        preload: 'auto',
        volume: 0.7,
        mutex: true,
        audio: [{
          name: '光るなら',
          artist: 'Goose House',
          url: '/static/songs/hikarunara.mp3',
          cover: '',
          lrc: ''
        }]
      });
    </script>
  </body>
</html>
